/* 내가 한 거 */
div.outer {
  width: 400px;
  height: 400px;
  border: 1px solid gainsboro;
}

div.inner_1 {
  width: 30%;
  height: 30%;
  margin: 5px;
  background-color: gray;
  display: inline-block;
}
div.inner_2 {
  width: 30%;
  height: 30%;
  margin: 5px;
  background-color: grey;
  display: inline-block;
}
div.inner_3 {
  width: 30%;
  height: 30%;
  margin: 5px;
  background-color: grey;
  display: inline-block;
}

div.inner_2_2 {
  width: 10%;
  height: 10%;
  background-color: red;
  display: inline-block;
}